html {
	width:100%;
	height:100%;
	background-color:#222;
}

input {
	border:solid 1px #bebebe;
}

fieldset {
	width:95%;
	margin:5px auto 0px auto;
	border:rgb(192,192,192) solid 1px;
}

legend {
	color:rgb(75,73,107);
	font-size:13px;
	font-weight:bold;
	margin:-7px 0px 0px 20px;
}

select {
	width:150px;
}

#logo_parent {
	width:400px;
	height:60px;
	text-align:center;
	vertical-align: middle;
	display: table-cell;
}

#login_form {
	width:480px;
	height:190px;
	color:black;
}

#login_area {
	width:240px;
	height:80%;
	margin:20px auto 0px auto;
}

.login {
	width:80px;
	height:20px;
	text-align:center;
	color:white;
	float:right;
	background-color:#54C3F1;
	font-size:10pt;
}

.content_input, .content_label, .content_select {
	margin:7px 5px 0px 15px;
	color:black;
	display:table;
}

.content_label > label {
	color:black;
}

#main {
	margin-right:auto;
	margin-left:auto;
}

/*	define navigation css */
#act_navigation div, #conf_navigation div {
	float:left;
	z-index:1;
	margin:0px 10px 0px 0px;
	display:table;
	text-align:center;
}

.inactive {
	cursor:pointer;
	text-decoration: underline;
}

.active {
	cursor:text;
	font-weight: bold;
}

.div_li {
	border-bottom:solid 1px #bebebe;
}

.div_li span {
	padding-left:33px;
}
/*	end of navigation css */
/*	define tabs css */
.tabs {
	height:30px;
	overflow:hidden;
}

.tabs li {
	list-style:none;
	display:inline-block;
	height:25px;
	background-color:#9FA0A0;
	border-right:solid 1px white;
	padding-top:5px;
}

.tabs a {
	margin:auto 10px;
	display:inline-block;
	background:#9FA0A0;
	color:#fff;
	text-decoration:none;
}

.tabs a.tab_active {
	background:#1D67AA;
	color:#fff;
}

.tab_content {
	width:90%;
	margin:0px auto 10px auto;
}

/*	end of tabs css */
/*	define content css */
th > span, td > span, form > span {
	color:black;
}

input[type="file"] {
	width:65px;
}

/*	end of content css */
.slider {
	height:20px;
	width:150px;
	margin:5px 8px 0px 0px;
	background-image:url("/css/images/slider-images-track.png");
	background-attachment:scroll;
	background-repeat:repeat-x;
	background-position-x:left;
	background-posttion-y:top;
	background-color:transparent;
	float:left;
}

.slider_input {
	width:50px;
	margin:5px 0px 0px 0px;
	float:left;
}

.progressblock {
	padding:0px 0px;
	margin:0px 0px 0px -1px;
	border:1px solid black;
	border-image:none;
	height:32px;
	background-color:rgb(204,204,204);
}

.progress {
	padding:0px 0px;
	left:0px;
	top:0px;
	width:0px;
	height:32px;
	position:relative;
	background-color:rgb(70,70,255);
}

.input_button {
	width:80px;
	height:24px;
	vertical-align: middle;
	text-align: center;
	border:solid 1px #bebebe;
	background-color:#0061A7;
	color:#fff;
	cursor:pointer;
}

.input_button_long {
	width:200px;
	height:24px;
	vertical-align: middle;
	text-align: center;
	border:solid 1px #bebebe;
	background-color:#0061A7;
	color:#fff;
	cursor:pointer;
}

.th_width {
	width:150px;
}

.footer_div {
	width:300px;
	color:#fff;
	text-align:center;
	margin:0px auto;
}

.save_div {
	width:95%;
	margin:5px auto 0px auto;
}

.not_modify {
	height:24px;
	vertical-align: middle;
	text-align: center;
	border:solid 1px #222;
	background-color:#bbb;
	color:#fff;
	float:right;
	cursor:text;
	margin-top:3px;
	padding:0px 5px;
}

.not_modify_without_float {
	height:24px;
	vertical-align: middle;
	text-align: center;
	border:solid 1px #222;
	background-color:#bbb;
	color:#fff;
	cursor:text;
	margin-top:3px;
	padding:0px 5px;
}

.can_modify {
	height:24px;
	vertical-align: middle;
	text-align: center;
	border:solid 1px #222;
	background-color:#0061A7;
	color:#fff;
	float:right;
	cursor:pointer;
	margin-top:3px;
	padding:0px 5px;
}

.can_modify_without_float {
	height:24px;
	vertical-align: middle;
	text-align: center;
	border:solid 1px #222;
	background-color:#0061A7;
	color:#fff;
	cursor:pointer;
	margin-top:3px;
	padding:0px 5px;
}

.invalid_modify {
	border:solid 1px #bebebe;
	background-color:red;
}

.grey_out {
	background-color:rgb(235, 235, 228);
}

.red_out {
	background-color:red;
}

.content_group {
	width:100%;
	background-color:#666;
	margin:5px 0px;
}

.content_group > span, .sub_content_group > span {
	margin-left:5px;
}

.sub_content_group {
	width:100%;
	background-color:#bbb;
	margin:5px 0px;
}

.content_failed {
	width:100%;
	background-color:red;
	margin:5px 0px;
}

.bebebe {
	background-color: #bebebe;
}

.span_note {
	color:#bbb;
	font-size:10pt;
}

.border_bottom {
	border-bottom:solid 1px #bebebe;
	height:50px;
}

.table_border_left_and_right {
	border-right:solid 1px #666;
	border-left:solid 1px #666;
}

.table_border_left_and_right_and_bottom {
	border-right:solid 1px #666;
	border-left:solid 1px #666;
	border-bottom:solid 1px #666;
}

.block_up {
	background:url("/css/images/ui-icons_888888_256x240.png");
  	background-position: -158px -192px;
  	width:20px;
  	height:15px;
  	float:right;
  	margin-top:2px;
  	cursor:pointer;
}

.block_down {
	background:url("/css/images/ui-icons_888888_256x240.png");
  	background-position: -126px -192px;
  	width:20px;
  	height:15px;
  	float:right;
  	margin-top:2px;
  	cursor:text;
}

.schedule_item {
	border-left:solid 1px black;
	width:480px;
}

#Imotion_hour_list, #Ialarm_hour_list, #Iaudio_hour_list, #Idefocus_hour_list, #Iface_hour_list, #Ischedule_hour_list, #Itamper_hour_list, 
#Iloitering_hour_list, #Iintrusion_hour_list, #Iborder_line_hour_list, #Ideparture_hour_list, #Iwithdrawn_hour_list {
	width:480px;
	display:table;
}

#Imotion_hour_list div, #Ialarm_hour_list div, #Iaudio_hour_list div, #Idefocus_hour_list div, #Iface_hour_list div, #Ischedule_hour_list div, 
#Itamper_hour_list div, #Iloitering_hour_list div, #Iintrusion_hour_list div, #Iborder_line_hour_list div, #Ideparture_hour_list div, #Iwithdrawn_hour_list div {
	width:20px;
	display:table-cell;
	vertical-align:middle;
}

#Imotion_hour_list div > span, #Ialarm_hour_list div > span, #Iaudio_hour_list div > span, #Idefocus_hour_list div > span, 
#Iface_hour_list div > span, #Ischedule_hour_list div > span, #Itamper_hour_list div > span, #Iloitering_hour_list div > span,
#Iintrusion_hour_list div > span, #Iborder_line_hour_list div > span, #Ideparture_hour_list div > span, #Iwithdrawn_hour_list div > span {
	color:black;
	font-size:8pt;
}

.schedule_item > div {
	margin-left:5px;
	width:475px;
	display:table;
}

.schedule_item > div > div{
	width:19px;
	display:table-cell;
	vertical-align:middle;
}

.add_schedule {
	width:44px;
	margin:0px auto;
	display:table;
}

.add_schedule div {
	width:20px;
	display:table-cell;
	vertical-align:middle;
}

.hour_block {
	height:14px;
	border-right:solid 1px black;
}

.half_block {
	height:14px;
}

.line {
	width:100%;
	border-top:solid 1px black;
}

.online {
	background:url("/css/images/ui-icons_2e83ff_256x240.png");
  	background-position: -62px -146px;
  	width:20px;
  	height:15px;
  	margin:6px 0px 0px 30px;
  	cursor:text;
}

.offline {
	background:url("/css/images/ui-icons_cd0a0a_256x240.png");
  	background-position: -94px -129px;
  	width:20px;
  	height:15px;
  	margin:6px 0px 0px 30px;
  	cursor:text;
}

.eve_group {
	background-color: #bebebe;
	border-top:solid 1px black;
	border-left:solid 1px black;
	border-right:solid 1px black;
}

.eve_child {
	border-left:solid 1px black;
	border-right:solid 1px black;
	border-bottom:solid 1px black;
}

.eve_space {
	width:3px;
}

.h_bar {
	position:absolute;
	bottom:0;
	height:0;
}

.margin_right_5px {
	margin-right:5px;
}

.tr_border_bottom {
	border-bottom:solid 1px black;
}

.tr_border_right {
	border-right:solid 1px black;
	text-align:center;
}

.ptz_control_img_new
{
/*
	position: absolute;	
	top: 305px;
*/
	position: relative;
	margin-top: 20px;
	background-color: #ffffff;

	z-index: 2;
	/*width: 240px;*/
	/*padding-left: 15px;*/
}

.ptz_control_text
{
	  color: #000;
  	font-family: Arial ,Verdana ,sans-serif;
    font-size: 11px;
}

.ptz_control_button
{
	  color: #fff;
	  background-color: #0061A7;
	  border: 2px solid #C8C8C8;
  	font-family: Arial ,Verdana ,sans-serif;
    font-size: 11px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.ptz_control_direction
{
	position: absolute;
	z-index: 3;
	/*border: 1px solid red;*/
	cursor: pointer;
	width: 11px;
	height: 11px;
}

.ptz_control_patrol_pattern
{
	  color: #fff;
	  background-color: #0061A7;
	  border: 2px solid #C8C8C8;
  	font-family: Arial ,Verdana ,sans-serif;
    font-size: 11px;
    width: 19px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
.ptz_control_patrol_pattern_on
{
	  color: #fff;
	  background-color: green;
	  border: 2px solid #C8C8C8;
  	font-family: Arial ,Verdana ,sans-serif;
    font-size: 11px;
    width: 19px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
.ptz_control_pressed
{
}
.ptz_control_preset
{
	  color: #fff;
	  background-color: #0061A7;
	  border: 2px solid #C8C8C8;
  	font-family: Arial ,Verdana ,sans-serif;
    font-size: 11px;
    width: 24px;
    height: 20px;
    text-align: center;
	  cursor: pointer;   
}

.ptz_control_preset_display
{
	  color: red;
	  background-color: #fff;
	  border: 2px solid #C8C8C8;
  	font-family: Arial ,Verdana ,sans-serif;
    font-size: 11px;
    font-weight: bold;
    /*width: 19px;*/
    width: 45px;
    text-align: center;
}


.ptz_control_title
{
	  color: #000;
	  background-color: #F1F1F2;
	  border: 1px dotted #0061A7;
  	font-family: Arial ,Verdana ,sans-serif;
    font-size: 11px;
    height: 15px;
    font-weight: bold;
    /*width: 25px;
    text-align: center;*/
	
}
.ptz_patrol_duration_editor
{
	position: absolute;
	background-color: #F1F1F2;
	border: 1px solid #0061A7;
	width: 129px;
	height:120px;
}

/** table sorting **/
#Ievent_search_db thead {
	cursor: pointer;
	background: #c9dff0;
}

#Ievent_search_db thead tr th { 
	font-weight: bold;
}

#Ievent_search_db thead tr th span { 
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

#Ievent_search_db thead tr th.headerSortUp, #Ievent_search_db thead tr th.headerSortDown {
	background: #acc8dd;
}

#Ievent_search_db thead tr th.headerSortUp span {
	background-image: url('/css/images/up-arrow.png');
}

#Ievent_search_db thead tr th.headerSortDown span {
	background-image: url('/css/images/down-arrow.png');
}

.sprite {
    background-image: url(/css/images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}

.sprite-1p2z_on {
    width: 40px;
    height: 40px;
    background-position: -5px -5px;
}

.sprite-1p2z_up {
    width: 40px;
    height: 40px;
    background-position: -55px -5px;
}

.sprite-1p_on {
    width: 40px;
    height: 40px;
    background-position: -105px -5px;
}

.sprite-1p_up {
    width: 40px;
    height: 40px;
    background-position: -155px -5px;
}

.sprite-1z_on {
    width: 40px;
    height: 40px;
    background-position: -205px -5px;
}

.sprite-1z_up {
    width: 40px;
    height: 40px;
    background-position: -255px -5px;
}

.sprite-2p_on {
    width: 40px;
    height: 40px;
    background-position: -305px -5px;
}

.sprite-2p_up {
    width: 40px;
    height: 40px;
    background-position: -5px -55px;
}

.sprite-4z_on {
    width: 40px;
    height: 40px;
    background-position: -55px -55px;
}

.sprite-4z_up {
    width: 40px;
    height: 40px;
    background-position: -105px -55px;
}

.sprite-A1_on {
    width: 46px;
    height: 34px;
    background-position: -155px -55px;
}

.sprite-A1_up {
    width: 47px;
    height: 34px;
    background-position: -211px -55px;
}

.sprite-A2_on {
    width: 46px;
    height: 46px;
    background-position: -268px -55px;
}

.sprite-A2_up {
    width: 46px;
    height: 46px;
    background-position: -5px -111px;
}

.sprite-A3_on {
    width: 35px;
    height: 46px;
    background-position: -61px -111px;
}

.sprite-A3_up {
    width: 35px;
    height: 46px;
    background-position: -106px -111px;
}

.sprite-A4_on {
    width: 46px;
    height: 46px;
    background-position: -151px -111px;
}

.sprite-A4_up {
    width: 46px;
    height: 46px;
    background-position: -207px -111px;
}

.sprite-A5_on {
    width: 46px;
    height: 35px;
    background-position: -263px -111px;
}

.sprite-A5_up {
    width: 47px;
    height: 35px;
    background-position: -263px -156px;
}

.sprite-A6_on {
    width: 46px;
    height: 46px;
    background-position: -5px -201px;
}

.sprite-A6_up {
    width: 45px;
    height: 46px;
    background-position: -61px -201px;
}

.sprite-A7_on {
    width: 34px;
    height: 46px;
    background-position: -320px -111px;
}

.sprite-A7_up {
    width: 35px;
    height: 46px;
    background-position: -116px -167px;
}

.sprite-A8_on {
    width: 46px;
    height: 46px;
    background-position: -161px -201px;
}

.sprite-A8_up {
    width: 45px;
    height: 46px;
    background-position: -217px -201px;
}

.sprite-OK_on {
    width: 57px;
    height: 57px;
    background-position: -272px -201px;
}

.sprite-OK_up {
    width: 57px;
    height: 57px;
    background-position: -5px -268px;
}

.sprite-Zoom-in-_-on {
    width: 100px;
    height: 71px;
    background-position: -72px -268px;
}

.sprite-Zoom-in-_-up {
    width: 100px;
    height: 71px;
    background-position: -182px -268px;
}

.sprite-Zoom-out-_-on {
    width: 101px;
    height: 71px;
    background-position: -355px -5px;
}

.sprite-Zoom-out-_-up {
    width: 101px;
    height: 71px;
    background-position: -364px -86px;
}

.sprite-button1_on {
    width: 41px;
    height: 21px;
    background-position: -5px -167px;
}

.sprite-button1_up {
    width: 41px;
    height: 21px;
    background-position: -56px -167px;
}

.sprite-button2_on {
    width: 84px;
    height: 21px;
    background-position: -161px -167px;
}

.sprite-button2_up {
    width: 84px;
    height: 21px;
    background-position: -320px -167px;
}

.sprite-button3_on {
    width: 41px;
    height: 21px;
    background-position: -414px -167px;
}

.sprite-button3_up {
    width: 41px;
    height: 21px;
    background-position: -339px -198px;
}

.sprite-home_on {
    width: 31px;
    height: 31px;
    background-position: -390px -198px;
}

.sprite-home_up {
    width: 31px;
    height: 31px;
    background-position: -431px -198px;
}

.zindex {
	z-index: 3;
}

.width_38 {
	width:38px;
}

.common_sprite {
    background-image: url(/css/images/common_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.common_sprite-Preview_off {
    width: 15px;
    height: 15px;
    background-position: -5px -5px;
}

.common_sprite-alarm_icon {
    width: 25px;
    height: 25px;
    background-position: -30px -5px;
}

.common_sprite-face_icon {
    width: 25px;
    height: 25px;
    background-position: -65px -5px;
}

.common_sprite-fullscreen_icon {
    width: 25px;
    height: 25px;
    background-position: -5px -40px;
}

.common_sprite-left {
    width: 14px;
    height: 15px;
    background-position: -100px -5px;
}

.common_sprite-motion_icon {
    width: 25px;
    height: 25px;
    background-position: -40px -40px;
}

.common_sprite-rec_off {
    width: 25px;
    height: 25px;
    background-position: -75px -40px;
}

.common_sprite-rec_on {
    width: 25px;
    height: 25px;
    background-position: -5px -75px;
}

.common_sprite-right {
    width: 14px;
    height: 15px;
    background-position: -40px -75px;
}

.common_sprite-setting {
    width: 32px;
    height: 32px;
    background-position: -64px -75px;
}

.common_sprite-snapshot_icon {
    width: 25px;
    height: 25px;
    background-position: -124px -5px;
}

.common_sprite-status {
    width: 26px;
    height: 26px;
    background-position: -110px -40px;
}

.common_sprite-zoom_icon_off {
    width: 25px;
    height: 25px;
    background-position: -106px -76px;
}

.common_sprite-zoom_icon_on {
    width: 25px;
    height: 25px;
    background-position: -5px -111px;
}

.float_left {
	float:left;
}

.margin_0px_5px {
	margin:0px 5px;
}

.arrow_left {
	background: url("/css/images/ui-icons_888888_256x240.png");
	background-position: -142px -192px;
	width: 20px;
	height: 15px;
	float: left;
	margin-top: 10px;
	cursor: pointer;
}

.arrow_right {
	background: url("/css/images/ui-icons_888888_256x240.png");
	background-position: -110px -192px;
	width: 20px;
	height: 15px;
	float: right;
	margin-top: 10px;
	cursor: pointer;
}

.moveableContainer {
	width:3000px;
	height:30px;
	position: relative; 
	left: 0px;
}

.arrowTab {
	width:40px;
	height:30px;
	float:right;
	position:relative;
	top:-752px;
	margin-top:10px;
	z-index:10px;
}

